// Managed Memory
// Copyright (c) 2022 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2022 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT
//

#include <XYO/ManagedMemory/Library.rh>
#include <XYO/ManagedMemory/Copyright.rh>
#include <XYO/ManagedMemory/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_MANAGEDMEMORY,"xyo-managed-memory.dll","XYO Managed Memory")
